<div class="flex flex-col items-center justify-between">
    <!-- Audio -->
    <include src="./partials/interv_audio.html" locals='{"audioFilePath": "{{ audioFilePath }}", "title": "{{ title }}"}'> </include>

    <div class="mt-10">
        <each loop="item, index in main">
            <p class="font-crimson-text text-lg font-semibold text-gray-950">{{ item }}</p>
        </each>
    </div>
    <div class="mt-10" />

    <a
        href="{{ authorLink }}"
        class="w-max justify-self-end rounded-sm bg-gray-200 p-1 px-2 font-crimson-text font-semibold text-red-800 hover:bg-red-800 hover:text-gray-200"
    >
        {{ author }}
    </a>
</div>
