<div class="flex flex-col md:flex-row">
    <div class="flex w-full flex-col md:w-1/2">
        <!-- Audio -->
        <include
            src="./partials/interview_audio.html"
            locals='{"audioFilePath": "{{ audioFilePath }}", "title": "{{ title }} | {{ author }}"}'
        >
        </include>

        <!-- Text -->
        <div class="interview-info flex flex-col">
            <include src="./partials/interview_text.html"></include>
        </div>
    </div>

    <div class="mt-8 flex w-full flex-col items-center justify-center md:mt-0 md:w-1/2 md:justify-start md:pl-20">
        <!-- Image -->
        <include src="./partials/interview_img.html"></include>

        <span class="self-end font-crimson-text text-xs text-gray-800">{{ imageCaption }}</span>

        <div class="{{ additionalContext === '' ? 'hidden' : 'mt-8 text-opacity-75 text-sm font-crimson-text' }}">
            <p>{{additionalContext}}</p>
        </div>
    </div>
</div>

<div class="mb-16 mt-12 flex items-center justify-between sm:-mx-[2rem] md:-mx-[4rem] lg:-mx-[7rem] xl:-mx-[12rem]">
    <a class="text-center font-crimson-text tracking-tight text-gray-100 hover:!text-white" href="{{prevLink}}">
        <div class="flex h-32 w-32 items-center justify-between rounded-full bg-gray-950 p-4">vorheriges Interview</div>
    </a>
    <a class="text-center font-crimson-text tracking-tight text-gray-100 hover:!text-white" href="{{nextLink}}">
        <div class="flex h-32 w-32 items-center justify-between rounded-full bg-gray-950 p-4 hover:!text-white">nächstes Interview</div>
    </a>
</div>
