<div class="pointer-events-none w-full">
    <!-- Text in Desktop Navbar: -->
    <div class="hidden font-roboto uppercase leading-none tracking-tight text-gray-200 md:block md:text-[7rem]">Brotherland</div>

    <!-- Text in Mobile Navbar: -->
    <div class="block md:hidden">
        <!-- Home / index.html: -->
        <svg
            class="fill-[rgb(51,_51,_51)] pt-6 {{ active === '/' ? 'block' : 'hidden' }}"
            preserveAspectRatio="none"
            width="100%"
            height="100%"
            viewBox="0 0 72 38"
        >
            <text x="0" y="20" font-family="Roboto, Arial, Helvetica, sans-serif" font-weight="normal">BROTHER</text>
            <text x="0" y="35" font-family="Roboto, Arial, Helvetica, sans-serif" font-weight="normal">LAND</text>
        </svg>
        <!-- Everywhere else: -->
        <svg
            class="fill-gray-200 {{ active === '/' ? 'hidden' : 'block' }}"
            preserveAspectRatio="none"
            width="100%"
            height="100%"
            viewBox="0 0 130 20"
        >
            <text x="0" y="15.5" font-family="Roboto, Arial, Helvetica, sans-serif" font-weight="normal">BROTHERLAND</text>
        </svg>
    </div>
</div>
